/* Color Palette 
	blue: #00aeef;
	yellow: #fff200;
	pink: #ec008c;
	dark pink: #ad0066;
	dark grey: #58595b;
	medium grey: #d2d2d2;
	light grey: #e6e6e6;
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-size: 10px;
	background-color: #000;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* NAVIGATION STYLING */

.navbar {
	background-color:#00aeef;
	height: 5rem;
	box-shadow: 2px 2px 2px rgba(0,0,0, .4); 
	z-index: 2;
}

.navbar-brand img {
	height: 4rem;
}

.navbar a.phone {
	font-size: 1.4rem;
	display: block;
	float: right;
	color: #e6e6e6;
	text-decoration: none;
}

.pipeNav {
	font-size: 1.5rem;
	color: #e6e6e6;
	padding: 0 .4rem 0 .4rem;
}

.navbar a.email {
	font-size: 1.1rem;
	float: right;
	color: #e6e6e6;
	text-decoration: none;
}

/* CAROUSEL STYLING */

#carouselTab {
	height: 90vh;
	overflow-y: hidden;
}

.carousel-inner img {
	height: 100%;
	width: auto;
}

/* INTRO CTA STYLING */

.introCTA {
	height: auto;
	background-color: #58595b;
	margin: 0 auto;
	padding: 1rem 0 1rem 0; 
}

.introCTA .container {
	text-align: center;
}

.introCTA h4 {
	color: #d2d2d2;
	font-family: 'Cabin', sans-serif;
	font-style: italic;
	font-size: 2rem;
	letter-spacing: .2rem;
	margin-bottom: 0;
}

.pipeCTA {
	font-size: 2rem;
	color: #e6e6e6;
	padding: 0 .4rem 0 .4rem;
}

.introCTA a {
	font-size: 1.9rem;
	margin-top: 0;
	text-decoration: none;
	color: #fff200;
}

/* BUSINESS INTRO STYLING */

.businessIntro {
	height: auto;
	padding: 3rem 0 3rem 0;
	text-align: center;
	background: rgb(151,151,151);
    background: -moz-linear-gradient(45deg, rgb(151,151,151) 35%, rgb(213,213,213) 100%);
    background: -webkit-linear-gradient(45deg, rgb(151,151,151) 35%,rgb(213,213,213) 100%);
    background: linear-gradient(45deg, rgb(151,151,151) 35%,rgb(213,213,213) 100%);

}	

.introItem {
	padding: 0;
}

.introItem img {
	padding-bottom: 1rem;
}

.introItem h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	color: #58595b;
}

.introItem p {
	width: 90%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #58595b;
}

/* PRODUCT SELECTION STYLING */

.productSelection {
	height: auto;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #00aeef;
	background-image: url(../assets/productbackground.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-blend-mode: soft-light;
}

.product {
	padding: .5rem;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

.productSelection h2 {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}



.product h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: #fff;
	padding: 1rem 0 .2rem 0;
}

.product p {
	margin: 0 auto;
	padding: 0 .1rem .5rem .1rem;
	width: 90%;
	font-size: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: #fff;
}

.addprintservices {
	border-top: 2px solid #fff;
	width: auto;
	height: auto;
	padding-top: 2rem;
	margin: 1rem auto 0 auto;
}

/*.addprintservices h4 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	color: #fff;
	margin: 0 auto;
	padding-bottom: 2rem;
}*/

.addprintservices button {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	color: #fff;
	background-color: #00aeef;
	border: 2px solid #3ae4ff;
	border-radius: .5rem;
	margin: 0 auto 1rem auto;
	padding: .5rem 1rem .5rem 1rem;
	box-shadow: 0px 3px 5px rgba(0,0,0,.3);
	cursor: pointer;
}

div.serviceshidden {
	display: none;
}

.printservices {
	margin: 2rem auto 0 auto;
	max-height: 50rem;
	width: auto;
	animation: smoothentry 1.1s ease-in-out;
}

.printservices ul {
	display: block;
	list-style-type: none;
	font-size: 1.2rem;
	color: #fff;
	margin: 0 auto;
}

.printservices ul li {
	padding-bottom: .2rem;
}



@keyframes smoothentry {
	0% {
		max-height: 1rem;
		opacity: 0;
	}

	100% {
		max-height: 40rem;
		opacity: 1;
	}
}

/* CONTACT STYLING */

.contact {
	background: rgb(196,0,116);
    background: -moz-linear-gradient(45deg, rgb(196,0,116) 26%, rgb(236,0,140) 100%);
    background: -webkit-linear-gradient(45deg, rgb(196,0,116) 26%,rgb(236,0,140) 100%);
    background: linear-gradient(45deg, rgb(196,0,116) 26%,rgb(236,0,140) 100%);
	padding: 2rem 0 2rem 0;
}

.contactCircle {
	text-align: center;
	margin-left: 0;
	padding-left: 0;
}

.contactInfo {
	text-align: center;
	height: auto;
	margin-left: 0;
	padding-left: 0;
}

.contactInfo h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.contactInfo a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.9rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.fa-2x {
	margin: 0 auto;
	display: block;
	color: #ad0066;
}


/* FOOTER STYLING */

footer {
	height: 3.5rem;
	background-color: #58595b;
}

footer img {
	margin-top: .5rem;
	height: 2.5rem;
}

footer p {
	float: right;
	margin-top: 1rem;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: #fff;
}

/* MODAL STYLING */

.modal {
	visibility: hidden;
}	

.modalcontainer {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.95);
}

.modalcontent {
	width: 50vw;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 1.3rem;
	background-color: #58595b;
	z-index: 99;
}

.modalcontent img {
	width: 100%;
	border-radius: 1.3rem 1.3rem 0 0;
}

.modalcontent h3 {
	color: #fff;
	font-size: 1.7rem;
	padding-left: 2rem;
	margin-top: 1rem;
	margin-bottom: .25rem;
}

.modalcontent p {
	display: inline-block;
	width: 40%;
	color: #fff;
	font-size: 1rem;
	padding-left: 2rem;
	margin-top: .25rem;
}

.modalcontent ul {
	list-style-type: none;
	width: 60%;
	height: auto;
	float: right;
}

.modalcontent li {
	width: 20%;
	height: 20%;
	float: left;
	margin-right: 1.5rem;
}

.modalcontent li span {
	display: block;
	width: 100%;
	font-size: .8rem;
	text-align: center;
	margin-top: .5rem;
	color: #fff;
}


/* -------- MEDIA QUERIES --------*/

@media screen and (max-width: 481px){

/* NAV STYLING */

	.navbar {
		background-color:#00aeef;
		height: 3rem;
		box-shadow: 2px 2px 2px rgba(0,0,0, .4); 
		z-index: 2;
	}

	.navbar-brand img {
		height: 2rem;
	}

/* CAROUSEL STYLING */

	#carouselTab {
		max-height: 40vh;
	}

	.carousel-inner img {
		padding-top: 3rem;
		height: 100%;
		width: auto;
	}

	.carousel-indicators {
		display: none;
	}

/* INTRO CTA STYLING */

	.introCTA {
		padding: .5rem 0 .5rem 0; 
	}

	.pipeCTA {
		font-size: 1.5rem;
		padding: 0 .4rem 0 .4rem;
	}

	.introCTA a {
		font-size: 1.4rem;
		text-decoration: underline;
	}

	.introCTA h4 {
		font-size: 1rem;
	}

/* BUSINESS INTRO STYLING */

	.introItem p {
		padding-bottom: 2rem;
	}

/* ADDITIONAL PRINTING SERVICES SECTION*/

	.printservices {
		margin: 0;
		padding: 0;
	}

	.printservices ul {
		width: 100%;
		display: block;
		list-style-type: none;
		font-size: 1.2rem;
		color: #fff;
		margin: 0;
	}

	.printservices ul li {
		padding-bottom: .2rem;
	}	

/* CONTACT SECTION STYLING */

	.contactCircle img {
		height: 20vh;
	}

	.contactInfo h2 {
		font-size: 2.0rem;
		padding: 1rem;
	}

	.contactInfo a {
		text-decoration: underline;
	}

/* FOOTER STYLING */

	footer {
		height: 3.5rem;
		background-color: #58595b;
	}

	footer img {
		margin-top: .5rem;
		height: 2.5rem;
		padding-left: 1rem;
	}

	footer p {
		padding-right: 1rem;
	}

/* MODAL STYLING */

	.modalcontent {
		width: 90vw;	
	}

	.modalcontent h3 {
		padding-left: 1rem;
	}

	.modalcontent p {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.modalcontent ul {
		display: none;
	}

	

}

@media screen and (min-width: 482px) and (max-width: 760px){/* NAV STYLING */

	.navbar {
		background-color:#00aeef;
		height: 3.6rem;
		box-shadow: 2px 2px 2px rgba(0,0,0, .4); 
		z-index: 2;
	}

	.navbar-brand img {
		height: 3rem;
	}

/* CAROUSEL STYLING */

	#carouselTab {
		max-height: 54vh;
	}

	.carousel-inner img {

		margin-top: 3.7rem;
	}

	.carousel-indicators {
		display: none;
	}

/* INTRO CTA STYLING */

	.introCTA {
		padding: .5rem 0 .5rem 0; 
	}

	.pipeCTA {
		font-size: 1.5rem;
		padding: 0 .4rem 0 .4rem;
	}

	.introCTA h4 {
		font-size: 1.5rem;
	}

	.introCTA a {
		font-size: 1.4rem;
		text-decoration: underline;
	}

/* BUSINESS INTRO STYLING */

	.introItem p {
		padding-bottom: 2rem;
	}

/* CONTACT SECTION STYLING */

	.contactCircle img {
		max-height: 40vh;
	}

/* ADDITIONAL PRINTING SERVICES SECTION*/

	.printservices {
		margin: 0;
		padding: 0;
	}

	.printservices ul {
		width: 50%;
		display: block;
		list-style-type: none;
		font-size: 1.2rem;
		color: #fff;
		margin: 0;
	}

	.printservices ul li {
		padding-bottom: .2rem;
	}


/* MODAL STYLING */

	.modalcontent {
		width: 80vw;	
	}

	.modalcontent h3 {
		padding-left: 1rem;
	}

	.modalcontent p {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.modalcontent ul {
		display: none;
	}

	
}

@media screen and (min-width: 761px) and (max-width: 991px){
	.navbar {
		background-color:#00aeef;
		height: 3.6rem;
		box-shadow: 2px 2px 2px rgba(0,0,0, .4); 
		z-index: 2;
	}

	.navbar-brand img {
		height: 3rem;
	}

/* CAROUSEL STYLING */

	#carouselTab {
		max-height: 54vh;
	}

	.carousel-inner img {

		margin-top: 3.7rem;
	}

	.carousel-indicators {
		display: none;
	}

/* INTRO CTA STYLING */

	.introCTA {
		padding: .5rem 0 .5rem 0; 
	}

	.pipeCTA {
		font-size: 1.5rem;
		padding: 0 .4rem 0 .4rem;
	}

	.introCTA h4 {
		font-size: 1.5rem;
	}

	.introCTA a {
		font-size: 1.4rem;
		text-decoration: underline;
	}

/* BUSINESS INTRO STYLING */

	.introItem p {
		padding-bottom: 2rem;
	}

/* CONTACT SECTION STYLING */

	.contactCircle img {
		max-height: 60vh;
	}

/* ADDITIONAL PRINTING SERVICES SECTION*/

	.printservices {
		margin: 0;
		padding: 0;
	}

	.printservices ul {
		width: 33%;
		display: block;
		list-style-type: none;
		font-size: 1.2rem;
		color: #fff;
		margin: 0;
	}

	.printservices ul li {
		padding-bottom: .2rem;
	}


/* MODAL STYLING */

	.modalcontent {
		width: 80vw;	
	}

	.modalcontent h3 {
		padding-left: 1rem;
	}

	.modalcontent p {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.modalcontent ul {
		display: none;
	}

	}

@media screen and (min-width: 992px) and (max-width: 1199px){

	.navbar {
		background-color:#00aeef;
		height: 3.6rem;
		box-shadow: 2px 2px 2px rgba(0,0,0, .4); 
		z-index: 2;
	}

	.navbar-brand img {
		height: 3rem;
	}

/* CAROUSEL STYLING */

	#carouselTab {
		max-height: 90vh;
	}

	.carousel-inner img {
		margin-top: 3.7rem;
	}

	.carousel-indicators {
		display: none;
	}

/* INTRO CTA STYLING */

	.introCTA {
		padding: .5rem 0 .5rem 0; 
	}

	.pipeCTA {
		font-size: 1.5rem;
		padding: 0 .4rem 0 .4rem;
	}

	.introCTA h4 {
		font-size: 1.5rem;
	}

	.introCTA a {
		font-size: 1.4rem;
		text-decoration: underline;
	}

/* BUSINESS INTRO STYLING */

	.introItem p {
		padding-bottom: 2rem;
	}



/* CONTACT SECTION STYLING */

	.contactCircle img {
		max-height: 60vh;
	}


/* MODAL STYLING */

	.modalcontent {
		width: 80vw;	
	}

	.modalcontent h3 {
		padding-left: 1rem;
	}

	.modalcontent p {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.modalcontent ul {
		display: none;
	}

	
}